@import url('https://fonts.googleapis.com/css2?family=Montserrat');
@import url('https://fonts.googleapis.com/css2?family=Merriweather');

$main-color: #F78065;
$main-dark-color: #c2634e;
$footer-background: #f7f7f7;

*{
    outline: none;
    box-sizing: border-box;
    margin: 0;
}

a {
    text-decoration: none;
}

html {
    box-sizing: border-box;
    -webkit-font-smoothing: antialiased;
}

ul, ol {
    list-style: none;
}

h1, h2, h3, h4, h5, h6{
    font-family: 'Merriweather', serif;
    font-weight: bold;
}

img {
    max-width: 100%;
}

mark{
    color: $main-color;
    background-color: transparent;
}

body{
    background-color: #ffffff;
    font-family: 'Montserrat', sans-serif;
    color: black;
}

header{
    
    background-image: url(./storage/women_at_work.png);
    background-size: cover;
    background-repeat: no-repeat;
    min-height: 650px;
    
    nav{

        ul{
            display: flex;
            justify-content: space-between;
            align-items: center;
            margin: 0 auto;
            padding: 25px 8% 0 9%;
        }
    }
}
main{
    .heroes{

        transform: translateZ(-200px);
        margin: -19% 0 0 5%;
        padding: 7% 5% 0 5%;
        width: 51%;
        min-height: 537px;
        background-color: #FFFFFFFF;
        box-shadow: 0px 4px 100px rgba(37, 37, 37, 0.1);
        z-index: 2;

        >*{
            width: 87%;
        }

        h1{
            font-size: 39px;
        }
        p{
            margin-top: 5%;
            font-size: 20px;
            opacity: 60%;
        }
        div{
            display: block;
            width: 35%;
            margin: 5% 0;
            background-color: $main-color;
            transition-duration: 0.7s;

            &:hover{
                background-color: $main-dark-color;
                transition-duration: 0.4s;
            }
            
            a{
                display: flex;
                align-items: center;
                justify-content: center;
                padding: 17px 0;
                color: #FFFFFFFF;
                font-size: 18px;
            }

            a img{
                margin: 0 10px;
            }
        }
    }
    .articles-container{

        margin: 6% 0;
        display: flex;
        justify-content: space-evenly;
        flex-wrap: wrap;

        article{
            
            flex: 0 1 26%;
            padding: 50px;

            img{
                margin-bottom: 70px;
            }

            h2{
                font-size: 24px;
            }

            p{
                padding: 25px 0;
                font-size: 16px;
                opacity: 50%;
            }

            a{
                color: $main-color;
                font-weight: bold;
                font-size: 18px;
                transition-duration: 0.7s;

                &:hover{
                    color: $main-dark-color;
                    transition-duration: 0.4s;
                    text-decoration: underline;
                }
            }
        }
    }
    .products-container{
        margin: 0 auto;
        width: 93%;

        h2{
            font-size: 36px;
            padding: 15px 75px;
            font-weight: bold;
        }

        .product-list{
            margin: 6% 0;
            display: flex;
            justify-content: space-evenly;
            flex-wrap: wrap;
            
            article{
                position: relative;
                height: 270px;
                flex: 0 1 20%;

                img{
                    width: 10%;
                    height: auto;
                }
                h3{
                    margin: 60px 0 40px 0;
                    font-size: 22px;
                    font-weight: bold;                
                }
                p{
                    width: 80%;
                    font-size: 14px;
                }
                a{
                    position: absolute;
                    font-size: 18px;
                    font-weight: bold;
                    color: $main-color;
                    bottom: 0;
                    transition-duration: 0.7s;

                    &:hover{
                        color: $main-dark-color;
                        transition-duration: 0.4s;
                        text-decoration: underline;
                    }
                }
            }
        }
    }   
    .community-container{
        width: 92%;
        margin: 0 auto;
        display: flex;
        flex-wrap: wrap;
        flex-direction: row;
        justify-content: space-evenly;

        article{

            &:first-child{
                width: 32%;

                h2{
                    font-size: 36px;
                    font-weight: bold;
                }

                & > *{
                    width: 80%;
                }

                p{
                    width: 70%;
                    font-size: 18px;
                    margin: 30px 0;
                }

                .button{
                    width: 60%;
                    background-color: $main-color;
                    transition-duration: 0.7s;

                    &:hover{
                        background-color: $main-dark-color;
                        transition-duration: 0.4s;
                    }

                    a{
                        display: flex;
                        justify-content: center;
                        align-items: center;
                        color: white;
                        font-size: 18px;
                        font-weight: bold;
                        vertical-align: baseline;
                        padding: 19.5px 0;
                        
                        img{
                            width: 10%;
                            height: auto;
                        }
                    }
                }
            }
            &:not(:first-child){
                width: 17%;
                
                img{
                    width: 100%;
                    height: auto;
                }

                h3{
                    font-size: 24px;
                    font-weight: bold;
                    margin-top: 20px;
                }

                p{
                    margin: 9px 0;
                    font-size: 14px;
                }
                
                a{
                    font-size: 18px;
                    color: $main-color;
                    transition-duration: 0.7s;

                    &:hover{
                        color: $main-dark-color;
                        transition-duration: 0.4s;
                        text-decoration: underline;
                    }
                }
            }
        }
    }
    .advantage-container{
        width: 92%;
        margin: 90px auto;

        h2{
            font-size: 36px;
            font-weight: bold;
        }

        div{
            display: flex;
            justify-content: space-between;
            flex-wrap: wrap;

            article{
               flex: 0 1 30%;
               height: 290px;
               position: relative;

                div{
                    margin: 45px auto;

                    img{
                        width: 8%;
                        height: auto;
                    }

                    h3{
                        margin-top: 10px;
                        font-size: 22px;
                        font-weight: bold;
                        width: 82%;
                    }

                    p{
                        font-size: 14px;
                        position: absolute;
                        bottom: 0;
                        width: 100%;
                    }
                }
            } 
        }
    }
}
footer{
    padding: 90px 0 45px 0;
    background-color: $footer-background;

    .footer-information-container{
        width: 91%;
        margin: 0 auto;
        display: flex;
        flex-wrap: wrap;
        justify-content: space-between;
        border-bottom: 1px solid lightgrey;

        section{

            &:first-child{
                width: 30%;

                h2{
                    font-size: 24px;
                    font-weight: bold;
                }
                h3{
                    font-size: 48px;
                    font-weight: bold;
                    width: 45%;
                    margin: 15px 0 60px 0;
                }
            }
            &:not(:first-child){
                width: 20%;

                li{
                    margin-bottom: 15px;
                }

                h3{
                    font-size: 18px;
                    font-weight: bold;
                }
                a{
                    font-size: 14px;
                    color: black;
                    transition-duration: 0.7s;

                    &:hover{
                        color: $main-color;
                        transition-duration: 0.5s;
                    }
                }
            }
        }
    }
    .footer-links{
        width: 90%;
        margin: 30px auto 0;

        display: flex;
        justify-content: space-between;

        section{

            &:first-child{
                width: 57%;
                p{
                    font-size: 14px;
                }
            }
            &:not(:first-child){
                width: 43%;
                display: flex;
                justify-content: space-between;

                a{
                    font-size: 14px;
                    color: black;
                    transition-duration: 0.7s;

                    &:hover{
                        color: $main-color;
                        transition-duration: 0.5s;
                    }
                }
            }
        }
    }
}