@import url("https://fonts.googleapis.com/css2?family=Montserrat");
@import url("https://fonts.googleapis.com/css2?family=Merriweather");
* {
  outline: none;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  margin: 0;
}

a {
  text-decoration: none;
}

html {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  -webkit-font-smoothing: antialiased;
}

ul, ol {
  list-style: none;
}

h1, h2, h3, h4, h5, h6 {
  font-family: 'Merriweather', serif;
  font-weight: bold;
}

img {
  max-width: 100%;
}

mark {
  color: #F78065;
  background-color: transparent;
}

body {
  background-color: #ffffff;
  font-family: 'Montserrat', sans-serif;
  color: black;
}

header {
  background-image: url(./storage/women_at_work.png);
  background-size: cover;
  background-repeat: no-repeat;
  min-height: 650px;
}

header nav ul {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  margin: 0 auto;
  padding: 25px 8% 0 9%;
}

main .heroes {
  -webkit-transform: translateZ(-200px);
          transform: translateZ(-200px);
  margin: -19% 0 0 5%;
  padding: 7% 5% 0 5%;
  width: 51%;
  min-height: 537px;
  background-color: #FFFFFFFF;
  -webkit-box-shadow: 0px 4px 100px rgba(37, 37, 37, 0.1);
          box-shadow: 0px 4px 100px rgba(37, 37, 37, 0.1);
  z-index: 2;
}

main .heroes > * {
  width: 87%;
}

main .heroes h1 {
  font-size: 39px;
}

main .heroes p {
  margin-top: 5%;
  font-size: 20px;
  opacity: 60%;
}

main .heroes div {
  display: block;
  width: 35%;
  margin: 5% 0;
  background-color: #F78065;
  -webkit-transition-duration: 0.7s;
          transition-duration: 0.7s;
}

main .heroes div:hover {
  background-color: #c2634e;
  -webkit-transition-duration: 0.4s;
          transition-duration: 0.4s;
}

main .heroes div a {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  padding: 17px 0;
  color: #FFFFFFFF;
  font-size: 18px;
}

main .heroes div a img {
  margin: 0 10px;
}

main .articles-container {
  margin: 6% 0;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: space-evenly;
      -ms-flex-pack: space-evenly;
          justify-content: space-evenly;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
}

main .articles-container article {
  -webkit-box-flex: 0;
      -ms-flex: 0 1 26%;
          flex: 0 1 26%;
  padding: 50px;
}

main .articles-container article img {
  margin-bottom: 70px;
}

main .articles-container article h2 {
  font-size: 24px;
}

main .articles-container article p {
  padding: 25px 0;
  font-size: 16px;
  opacity: 50%;
}

main .articles-container article a {
  color: #F78065;
  font-weight: bold;
  font-size: 18px;
  -webkit-transition-duration: 0.7s;
          transition-duration: 0.7s;
}

main .articles-container article a:hover {
  color: #c2634e;
  -webkit-transition-duration: 0.4s;
          transition-duration: 0.4s;
  text-decoration: underline;
}

main .products-container {
  margin: 0 auto;
  width: 93%;
}

main .products-container h2 {
  font-size: 36px;
  padding: 15px 75px;
  font-weight: bold;
}

main .products-container .product-list {
  margin: 6% 0;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: space-evenly;
      -ms-flex-pack: space-evenly;
          justify-content: space-evenly;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
}

main .products-container .product-list article {
  position: relative;
  height: 270px;
  -webkit-box-flex: 0;
      -ms-flex: 0 1 20%;
          flex: 0 1 20%;
}

main .products-container .product-list article img {
  width: 10%;
  height: auto;
}

main .products-container .product-list article h3 {
  margin: 60px 0 40px 0;
  font-size: 22px;
  font-weight: bold;
}

main .products-container .product-list article p {
  width: 80%;
  font-size: 14px;
}

main .products-container .product-list article a {
  position: absolute;
  font-size: 18px;
  font-weight: bold;
  color: #F78065;
  bottom: 0;
  -webkit-transition-duration: 0.7s;
          transition-duration: 0.7s;
}

main .products-container .product-list article a:hover {
  color: #c2634e;
  -webkit-transition-duration: 0.4s;
          transition-duration: 0.4s;
  text-decoration: underline;
}

main .community-container {
  width: 92%;
  margin: 0 auto;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-box-pack: space-evenly;
      -ms-flex-pack: space-evenly;
          justify-content: space-evenly;
}

main .community-container article:first-child {
  width: 32%;
}

main .community-container article:first-child h2 {
  font-size: 36px;
  font-weight: bold;
}

main .community-container article:first-child > * {
  width: 80%;
}

main .community-container article:first-child p {
  width: 70%;
  font-size: 18px;
  margin: 30px 0;
}

main .community-container article:first-child .button {
  width: 60%;
  background-color: #F78065;
  -webkit-transition-duration: 0.7s;
          transition-duration: 0.7s;
}

main .community-container article:first-child .button:hover {
  background-color: #c2634e;
  -webkit-transition-duration: 0.4s;
          transition-duration: 0.4s;
}

main .community-container article:first-child .button a {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  color: white;
  font-size: 18px;
  font-weight: bold;
  vertical-align: baseline;
  padding: 19.5px 0;
}

main .community-container article:first-child .button a img {
  width: 10%;
  height: auto;
}

main .community-container article:not(:first-child) {
  width: 17%;
}

main .community-container article:not(:first-child) img {
  width: 100%;
  height: auto;
}

main .community-container article:not(:first-child) h3 {
  font-size: 24px;
  font-weight: bold;
  margin-top: 20px;
}

main .community-container article:not(:first-child) p {
  margin: 9px 0;
  font-size: 14px;
}

main .community-container article:not(:first-child) a {
  font-size: 18px;
  color: #F78065;
  -webkit-transition-duration: 0.7s;
          transition-duration: 0.7s;
}

main .community-container article:not(:first-child) a:hover {
  color: #c2634e;
  -webkit-transition-duration: 0.4s;
          transition-duration: 0.4s;
  text-decoration: underline;
}

main .advantage-container {
  width: 92%;
  margin: 90px auto;
}

main .advantage-container h2 {
  font-size: 36px;
  font-weight: bold;
}

main .advantage-container div {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
}

main .advantage-container div article {
  -webkit-box-flex: 0;
      -ms-flex: 0 1 30%;
          flex: 0 1 30%;
  height: 290px;
  position: relative;
}

main .advantage-container div article div {
  margin: 45px auto;
}

main .advantage-container div article div img {
  width: 8%;
  height: auto;
}

main .advantage-container div article div h3 {
  margin-top: 10px;
  font-size: 22px;
  font-weight: bold;
  width: 82%;
}

main .advantage-container div article div p {
  font-size: 14px;
  position: absolute;
  bottom: 0;
  width: 100%;
}

footer {
  padding: 90px 0 45px 0;
  background-color: #f7f7f7;
}

footer .footer-information-container {
  width: 91%;
  margin: 0 auto;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  border-bottom: 1px solid lightgrey;
}

footer .footer-information-container section:first-child {
  width: 30%;
}

footer .footer-information-container section:first-child h2 {
  font-size: 24px;
  font-weight: bold;
}

footer .footer-information-container section:first-child h3 {
  font-size: 48px;
  font-weight: bold;
  width: 45%;
  margin: 15px 0 60px 0;
}

footer .footer-information-container section:not(:first-child) {
  width: 20%;
}

footer .footer-information-container section:not(:first-child) li {
  margin-bottom: 15px;
}

footer .footer-information-container section:not(:first-child) h3 {
  font-size: 18px;
  font-weight: bold;
}

footer .footer-information-container section:not(:first-child) a {
  font-size: 14px;
  color: black;
  -webkit-transition-duration: 0.7s;
          transition-duration: 0.7s;
}

footer .footer-information-container section:not(:first-child) a:hover {
  color: #F78065;
  -webkit-transition-duration: 0.5s;
          transition-duration: 0.5s;
}

footer .footer-links {
  width: 90%;
  margin: 30px auto 0;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

footer .footer-links section:first-child {
  width: 57%;
}

footer .footer-links section:first-child p {
  font-size: 14px;
}

footer .footer-links section:not(:first-child) {
  width: 43%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

footer .footer-links section:not(:first-child) a {
  font-size: 14px;
  color: black;
  -webkit-transition-duration: 0.7s;
          transition-duration: 0.7s;
}

footer .footer-links section:not(:first-child) a:hover {
  color: #F78065;
  -webkit-transition-duration: 0.5s;
          transition-duration: 0.5s;
}
/*# sourceMappingURL=style.css.map */